<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Menü</div>
            <a class="nav-link" href="/Product/Index/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Ürünler
            </a>
            <a class="nav-link" href="/Customer/Index/">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Müşteriler
            </a>
            <a class="nav-link" href="/Job/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                İşler
            </a>
            <a class="nav-link" href="/Category/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Kategoriler
            </a>
            <a class="nav-link" href="/Settings/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>
                Şifre İşlemleri
            </a>
            <a class="nav-link" href="tables.html">
                <div class="sb-nav-link-icon"><i class="fas fa-life-ring"></i></div>
                Yardım
            </a>
            <a class="nav-link" href="/Login/LogOut">
                <div class="sb-nav-link-icon"><i class="fas fa-close"></i></div>
                Çıkış Yap
            </a>

        </div>
    </div>

</nav>